@import '_notification.scss';
@import '_footer.scss';
@import '_breakpoints.scss';

@mixin responsiveText {
    h2 {
        font-size: 3vw;
    }
    span {
        margin: 10px;
        font-size: 2vw;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    padding: 20% 30% 30% 30%;
    overflow: hidden;
    .inputCloud {
        width: 40%;
        height: auto;
        position: fixed;
        bottom: 4rem;
        padding: 1rem;
        background: rgba(95, 94, 94, 0.5);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        
        input {
            width: 100%;
            height: 1rem;
            padding: 1rem;
            background-color: transparent;
            border: none;
            font-size: 1.5vw;

            @include mobile {
                font-size: 1rem;
            }
            
            &:focus {
                outline: none;
                border-bottom: 2px solid rgba(95, 94, 94, 0.5);
            }
        }
        
        
    }
    .cloud {
        width: 100%;
        // padding: 30px;
        height: auto;
        padding: 10% 0;
        box-shadow: 6px 7px 29px 0px rgba(115,115,103,0.63);
        background: rgba(95, 94, 94, 0.5);
        border-radius: 26%;
        z-index: 10;
        display: flex;
        flex-direction: column;

        .region-wrap {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 10%;

            h1 {
                font-size: 2.7vw;
            }

            div {
                font-size: 2vw;
            }

        }
        .location-wrap {
        padding: 10px 60px 0 60px;
        margin-bottom: 1rem;
        flex-direction: column;
            h1 {
                display: block;
                font-size: 2vw;
            }
        }


        .location-wrap,
        .temparature-wrap {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 0 2rem 0 2rem;
            .bubble {
                padding: 0 5px;
                width: 30%;
            }
        }
        .temparature-wrap {
            cursor: pointer;
            flex-direction: column;
            .temparature-section {
                display: flex;
                align-items: center;
                
                &:hover {
                    color: black;
                }
                @include responsiveText
            }

            .feelsLike-section {
                display: flex;
                align-items: center;
                margin-bottom: -10px;
                width: 62%;
                
                &:hover {
                    color: black;
                }
                h3 {
                    margin: 5px;
                    font-size: 2vw
                }
            }
        }
    }
    

}

