* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    &::after {
        content: '';
        position: absolute;
        width: 500px;
        height: 460px;
        background: lightslategray;
        z-index: -10;
        opacity: 0.5;
        border-radius: 26%;
        padding: 30px;
        box-shadow: 6px 7px 29px 0px rgba(115,115,103,0.63);
    }
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        color: white;
        background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));

        .location-wrap {
            padding: 10px 60px 0 60px;
        }
        .temparature-wrap {
            margin: 0 60px -10px 60px;
        }

        .location-wrap,
        .temparature-wrap {
            width: 50%; // using width for alignment is actually neat way. 
            // height: 50%; Make it responsive.
            height: 30vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .bubble {
                padding: 0 5px;
            }
        }
        .temparature-wrap {
            cursor: pointer;
            .temparature-section {
                display: flex;
                align-items: center;
                
                h2 {
                    font-size: 40px;

                }
                span {
                    margin: 10px;
                    font-size: 30px;
                }
            }

            .feelsLike-section {
                display: flex;
                align-items: center;
                margin-bottom: -10px;
                
                h3, span {
                    margin: 5px;
                    font-size: 17px;
                }
            }
        }
}