* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#2f96a3, #303e8f);
  font-family: 'Montserrat', sans-serif;
  color: white; }
  body .location-wrap,
  body .temparature-wrap {
    width: 50%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  body .temparature-wrap {
    cursor: pointer; }
    body .temparature-wrap .temparature-section {
      display: flex;
      align-items: center; }
      body .temparature-wrap .temparature-section h2 {
        font-size: 40px; }
      body .temparature-wrap .temparature-section span {
        margin: 10px;
        font-size: 30px; }
    body .temparature-wrap .feelsLike-section {
      display: flex;
      align-items: center;
      margin-bottom: -10px; }
      body .temparature-wrap .feelsLike-section h3, body .temparature-wrap .feelsLike-section span {
        margin: 5px;
        font-size: 17px; }
