* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // width: 100% 왜 width를 안 넣을까?
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: 'Montserrat', sans-serif;
    color: white;

    .location-wrap,
    .temparature-wrap {
        width: 50%; // using width for alignment is actually neat way. 
        // height: 50%; Make it responsive.
        height: 30vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .temparature-wrap {
        cursor: pointer;
        .temparature-section {
            display: flex;
            align-items: center;
            
            h2 {
                font-size: 40px;

            }
            span {
                margin: 10px;
                font-size: 30px;
            }
        }

        .feelsLike-section {
            display: flex;
            align-items: center;
            margin-bottom: -10px;
            
            h3, span {
                margin: 5px;
                font-size: 17px;
            }
        }
    }
}
// main {
//     width: 100%;
//     height: 100vh;
//     background: lightblue;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
    
//     section {
//         display: flex;
//         justify-content: space-evenly;
//         align-items: center;
//         width: 80%;
//         height: 80%;
//         background: lightsalmon;

//         div {
//             width: 50%;
//             height: 100px;
//             background: white;
//         }

//         .first {
//             background: lightcoral;
//         }
//         .last {
//             background: lightgoldenrodyellow;
//         }
//     }
// }