* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: linear-gradient(#2f96a3, #303e8f); }
  body::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 460px;
    background: lightslategray;
    z-index: -10;
    opacity: 0.5;
    border-radius: 26%;
    padding: 30px;
    box-shadow: 6px 7px 29px 0px rgba(115, 115, 103, 0.63); }
  body .location-wrap {
    padding: 10px 60px 0 60px; }
  body .temparature-wrap {
    margin: 0 60px -10px 60px; }
  body .location-wrap,
  body .temparature-wrap {
    width: 50%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    body .location-wrap .bubble,
    body .temparature-wrap .bubble {
      padding: 0 5px; }
  body .temparature-wrap {
    cursor: pointer; }
    body .temparature-wrap .temparature-section {
      display: flex;
      align-items: center; }
      body .temparature-wrap .temparature-section h2 {
        font-size: 40px; }
      body .temparature-wrap .temparature-section span {
        margin: 10px;
        font-size: 30px; }
    body .temparature-wrap .feelsLike-section {
      display: flex;
      align-items: center;
      margin-bottom: -10px; }
      body .temparature-wrap .feelsLike-section h3, body .temparature-wrap .feelsLike-section span {
        margin: 5px;
        font-size: 17px; }
